<% content_for "title" do %>Index<% end %>

<main class="grid" @sync>
  <% svgs.each do |svg| %>
    <article>
      <a href="<%= svg.relative_path %>">
        <img src="<%= svg.image_path %>">
        <h2>
          <%= svg.name %>
        </h2>
      </a>
    </article>
  <% end %>
</main>
