<% content_for "title" do %><%= svg.relative_path %><% end %>

<main>
  <div id="sketch"
       style="--ratio: <%= svg.metadata.ratio %>"
       @sync="<%= svg.absolute_path %>">
    <img src="/svgs<%= svg.relative_path %>">
  </div>
</main>

<footer>
  <%= svg.name %>
</footer>
